# Gradle
.gradle/
build/
out/
classes/

# IDE
.idea/
*.iml
*.ipr
*.iws

# Logs
logs/
*.log

# OS
.DS_Store
Thumbs.db

# Application
*.jar
plugins/
!gradle/wrapper/gradle-wrapper.jar

# Database
*.db
*.sqlite